html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

header {
  border: 1px solid #ececec;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.no-scroll {
  overflow: hidden;
}

:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --section-color: #f5f4fa;
  --btn-portfolio-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer_list-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
  --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

@media screen and (min-width: 767px) {
  .header {
    padding-right: 10px;
    height: 80px;
  }
}
.nav-menu-list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu-list {
    display: flex;
    justify-content: center;
    margin-left: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu-list {
    display: flex;
    justify-content: center;
    margin-left: 93px;
  }
}
.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font-family);
  font-size: 26px;
  line-height: 1.17;
}

.logo-accent {
  color: var(--accent-color);
}

.icon-envelope,
.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.contact_item-tel {
  display: flex;
}

/* .nav-menu-list .nav-menu-list_item:not(:last-child) {
  margin-right: 50px;
} */
.nav-menu-list_item + .nav-menu-list_item {
  margin-left: 50px;
}

.nav-menu_current-page,
.nav-menu_page {
  display: block;
  padding: 32px 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.nav-menu_current-page:hover, .nav-menu_current-page:focus,
.nav-menu_page:hover,
.nav-menu_page:focus {
  color: var(--accent-color);
}

.nav-menu_current-page {
  color: var(--accent-color);
  position: relative;
}
.nav-menu_current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contact-list {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-list {
    display: flex;
  }
}
.contact_item {
  display: block;
  margin-left: 50px;
}

.contact_item-email,
.contact_item-tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.contact_item-email:focus, .contact_item-email:hover,
.contact_item-tel:focus,
.contact_item-tel:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contact_item-email, .contact_item-email,
.contact_item-tel,
.contact_item-tel {
    font-size: 14px;
  }
}

.menu-open {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: 767px;
  background-color: white;
  z-index: 3;
}
.mob-menu > .container {
  padding: 48px 40px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.menu-close {
  position: absolute;
  min-height: 40px;
  min-width: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-link {
  font-weight: 500;
  font-size: 40px;
  line-height: calc 1.175;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}

.mobile-link:hover,
.mobile-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link-email {
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
}

.mobile-socials {
  margin-top: 64px;
  display: flex;
}

@media (max-width: 480px) {
  .mobile-socials {
    flex-wrap: wrap;
    width: 100%;
  }
}
.mobile-socials li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.socials-link {
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding: 0 10px;
}

@media (max-width: 480px) {
  .socials-link {
    width: 25%;
  }
}
.socials-link--primary {
  padding-left: 0;
}

.hero.section {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero.section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero {
  max-width: 1600px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url(../../images/hero_mobile1x.jpg);
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero_mobile2x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    background-image: var(--gradient), url("../images/hero_tablet1x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero_tablet2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--gradient), url("../images/hero_desktop1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--gradient), url("../images/hero_desktop2x.jpg");
  }
}
.hero_heading {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero_heading {
    font-size: 44px;
    line-height: 1.36;
    min-width: 696px;
  }
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
}

.feature-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.feature_wrap {
  background-color: var(--btn-portfolio-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .feature_item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature_item {
    width: calc((100% - 90px) / 4);
  }
}
.feature_heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--primary-black-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.14;
}

.feature_text {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .section.no-padding {
    display: none;
  }
}
.occupation_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.occupation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.occupation_wrap {
  position: relative;
}

.occupation_text {
  margin: 0 auto;
  padding: 27px;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  white-space: nowrap;
  color: var(--primary-white-color);
}

.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--section-color);
}

.team_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team_card {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-data {
  padding: 30px 32px;
}

.team_name {
  color: var(--primary-black-color);
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team_position {
  color: var(--primary-text-color);
  white-space: nowrap;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 767.98px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .team_card {
    width: 100%;
  }
  .team_card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team_card {
    width: calc((100% - 90px) / 4);
    margin-right: 0px;
    gap: 30px;
  }
}
.clients-section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.client_link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: var(--icon-social-color);
  border: 1px solid var(--icon-social-color);
  transition-property: color, border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.client_link:hover, .client_link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.client_icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.portfolio-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.portfolio-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 8px;
  margin-bottom: 50px;
}
.portfolio-btn .btn {
  color: var(--primary-black-color);
  background-color: var(--btn-portfolio-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--btn-portfolio-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.portfolio-btn .btn:hover, .portfolio-btn .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio-btn {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.portfolio_item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio_item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio_item {
    width: calc(100% - 60px)/3;
  }
}
/* .portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
} */
.portfolio_link {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.portfolio_link:hover, .portfolio_link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio_name {
  flex-grow: 1;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-overlay_box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay_text {
  margin: 0 auto;
  font-weight: 400;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  overflow: auto;
  transition-property: transform;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.portfolio_link:hover .portfolio-overlay_text, .portfolio_link:focus .portfolio-overlay_text {
  transform: translateY(0);
}

.portfolio_heading {
  color: var(--primary-black-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio_description {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform var(--time) var(--cubic);
}

.close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scaleY(0) rotate(-180deg);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.close-btn-icon {
  fill: var(--primary-black-color);
}

.modal_heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 12px;
  color: var(--primary-black-color);
}

.modal-field {
  margin-bottom: 10px;
}
.modal-field:nth-child(4) {
  margin-bottom: 20px;
}
.modal-field:nth-child(5) {
  margin-bottom: 30px;
}

.modal-input-wrap {
  position: relative;
}

.modal_icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.modal-input:focus + .modal_icon {
  fill: var(--accent-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.modal-input:focus {
  border-color: var(--accent-color);
}

.modal_text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--primary-black-color);
  resize: none;
  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  padding-left: 28px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--primary-black-color);
  fill: transparent;
}
.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border: transparent;
}

.modal-contract {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.team_social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-social-color);
  transition-property: background-color, color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.social_link:hover, .social_link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social_icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.footer-social-links {
  margin-bottom: 60px;
}

.footer-social_list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-social_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer-social_icon:hover, .footer-social_icon:focus {
  background-color: var(--accent-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}

.footer-section {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
  }
}
.footer_wrap {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer_wrap {
    text-align: left;
  }
}

.footer_logo {
  color: var(--btn-portfolio-color);
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer_list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer_item {
  margin-bottom: 9px;
}

.address-link {
  color: var(--primary-white-color);
}
.address-link:hover, .address-link:focus {
  color: var(--accent-color);
}

.footer_tel,
.footer_email {
  color: var(--footer_list-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer_tel:hover, .footer_tel:focus, .footer_tel:hover, .footer_tel:focus,
.footer_email:hover,
.footer_email:focus,
.footer_email:hover,
.footer_email:focus {
  color: var(--accent-color);
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .footer-form-submit {
    text-align: center;
    margin: 0 auto;
  }
}
.submit_field {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .submit_field {
    display: flex;
  }
}
.footer-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  margin-bottom: 20px;
  color: var(--primary-white-color);
  outline: none;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer-input::-moz-placeholder {
  -moz-transition-property: color;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer-input:-ms-input-placeholder {
  -ms-transition-property: color;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer-input::placeholder {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.footer-input:focus::-moz-placeholder {
  color: transparent;
}
.footer-input:focus:-ms-input-placeholder {
  color: transparent;
}
.footer-input:focus::placeholder {
  color: transparent;
}
.footer-input:hover, .footer-input:focus {
  border-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}
.footer-submit-btn {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.send-icon {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */