:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --section-color: #f5f4fa;
  --btn-portfolio-color: #f5f4fa;
  --footer-color: #2f303a;
  --adress-list-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

header {
  border: 1px solid #ececec;
}
button {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*----------- Header-------------- */

.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font-family);

  font-size: 26px;
  line-height: 1.17;
  padding: 24px;
}
.logo .accent {
  color: var(--accent-color);
}
.logo.foot {
  color: var(--btn-portfolio-color);
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}
.telephone-mail {
  display: flex;
}
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--primary-black-color);

  font-weight: 500;
  line-height: 1.17;
}

.contact-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.contact-list .item {
  display: block;
}

.contact-list .link {
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
}
.contact-list .item + .item {
  margin-left: 50px;
}

.site-nav .current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* -------------------Hero ------------*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero .bututton:hover,
.hero .bututton:focus {
  color: var(--accent-color);
}

/* --------------Особливості -----------*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.font {
  display: flex;
  height: 120px;
  background-color: var(--btn-portfolio-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* .icon-feature {
  margin: 0;
  padding: 0;
  display: flex;
} */

.feature-item {
  /* width: 270px; */
  width: calc((100%-90px) / 4);
}

.feature-title {
  color: var(--primary-black-color);

  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature-description {
  color: var(--primary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* <!------- Чим ми займаємось ---------> */
/* <!--------- Наша команда ------------> */
.section-title {
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.section-title.work {
  margin-bottom: 50px;
}

/* <!-- Наша команда --> */
.section.team {
  background-color: var(--section-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list .item {
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team {
  padding: 30px 32px;
}
.team-title {
  color: var(--primary-black-color);

  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team-description {
  color: var(--primary-text-color);

  white-space: nowrap;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}
/* Social links */

.social-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icon-social-color);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-radius: 50%;
  border: 0;
}
/* Our clients */

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: var(--icon-social-color);
  border: 1px solid var(--icon-social-color);
}

.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */
.adress-list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.adress-list .link {
  color: var(--adress-list-color);
}
.adress-list .link-adress {
  color: var(--primary-white-color);
  text-decoration: none;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
.adress-list .item {
  margin-bottom: 9px;
}

/*--------------------- Portfolio page--------------- */
.portfolio-title {
  text-align: center;
}
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .btn {
  color: var(--primary-black-color);
  background-color: var(--btn-portfolio-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
}
.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list .item {
  width: calc(100%-60px) / 3;
}

/* .portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
} */
.portfolio-link {
  display: block;
  text-decoration: none;
}
.content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-project {
  color: var(--primary-black-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-list .content {
  padding: 20px 24px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-information {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer-join {
  margin-left: 70px;
}

.join-title {
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  color: var(--primary-white-color);
}
.join-list {
  display: flex;
  gap: 10px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.icon-join {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}
