:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --section-color: #f5f4fa;
  --btn-portfolio-color: #f5f4fa;
  --footer-color: #2f303a;
  --adress-list-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}

header {
  border: 1px solid #ececec;
}
button {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/*----------- Header-------------- */

.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font-family);

  font-size: 26px;
  line-height: 1.17;
  padding: 24px;
}
.logo .accent {
  color: var(--accent-color);
}
.logo.foot {
  color: var(--btn-portfolio-color);
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}
.telephone-mail {
  display: flex;
}
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--primary-black-color);

  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.contact-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.contact-list .item {
  display: block;
}

.contact-list .link {
  align-items: center;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.contact-list .item + .item {
  margin-left: 50px;
}

.site-nav .current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
.current {
  position: relative;
}

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -------------------Hero ------------*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
}
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero .bututton:hover,
.hero .bututton:focus {
  color: var(--accent-color);
}

/* --------------Особливості -----------*/
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}

.feature-list {
  display: flex;

  gap: 30px;
}
.font {
  display: flex;
  height: 120px;
  background-color: var(--btn-portfolio-color);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
/* .icon-feature {
  margin: 0;
  padding: 0;
  display: flex;
} */

.feature-item {
  /* width: 270px; */
  width: calc((100%-90px) / 4);
}

.feature-title {
  color: var(--primary-black-color);

  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature-description {
  color: var(--primary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* <!------- Чим ми займаємось ---------> */
/* <!--------- Наша команда ------------> */
.section-title {
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.section-title.work {
  margin-bottom: 50px;
}
.work-list-wrap {
  position: relative;
}
.work-list-text {
  margin: 0 auto;
  padding: 27px;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  white-space: nowrap;
  color: var(--primary-white-color);
}

/* <!-- Наша команда --> */
.section.team {
  background-color: var(--section-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-list .item {
  width: 270px;
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .team {
  padding: 30px 32px;
}
.team-title {
  color: var(--primary-black-color);

  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team-description {
  color: var(--primary-text-color);

  white-space: nowrap;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}
/* Social links */

.social-list {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-social-color);
  transition-property: background-color, color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.icon-social {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* Our clients */

.client-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: var(--icon-social-color);
  border: 1px solid var(--icon-social-color);
  transition-property: color, border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Footer */
.adress-list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.adress-list .link {
  color: var(--adress-list-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.adress-list .link-adress {
  color: var(--primary-white-color);
  text-decoration: none;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
.adress-list .item {
  margin-bottom: 9px;
}

/*--------------------- Portfolio page--------------- */
.portfolio-title {
  text-align: center;
}
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-filter .btn {
  color: var(--primary-black-color);
  background-color: var(--btn-portfolio-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: var(--btn-portfolio-color);
  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list .item {
  width: calc(100%-60px) / 3;
}

/* .portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
} */
.portfolio-link {
  display: block;
  text-decoration: none;
  transition-property: box-shadow;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.content {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list-wrap {
  position: relative;
  overflow: hidden;
}
.portfolio-list-text {
  margin: 0 auto;
  font-weight: 400;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  overflow: auto;
  transition-property: transform;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.portfolio-link:hover .portfolio-list-text,
.portfolio-link:focus .portfolio-list-text {
  transform: translateY(0);
}

.portfolio-project {
  color: var(--primary-black-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-list .content {
  padding: 20px 24px;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.footer {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-information {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.footer-join {
  margin-left: 70px;
}

.join-title {
  margin-top: 0;
  margin-bottom: 20px;

  text-transform: uppercase;
  color: var(--primary-white-color);
}
.join-list {
  display: flex;
  gap: 10px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.icon-join {
  width: 20px;
  height: 20px;
  fill: var(--primary-white-color);
}
.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform var(--time) var(--cubic);
}
.close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, 0%) scaleY(0) rotate(-180deg);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.close-btn-icon {
  fill: var(--primary-black-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
  margin-bottom: 12px;
  color: var(--primary-black-color);
}
.modal-field {
  margin-bottom: 10px;
}

.modal-field:nth-child(4) {
  margin-bottom: 20px;
}
.modal-field:nth-child(5) {
  margin-bottom: 30px;
}
.input-wrap {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.modal-input {
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  padding-left: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: var(--primary-black-color);
  resize: none;

  transition-property: border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.check-text {
  display: flex;
  align-items: center;
  padding-left: 28px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
  width: 16px;
  height: 15px;

  border-radius: 2px;
  border: 2px solid var(--primary-black-color);
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  border: transparent;
}
.modal-contract {
  margin-left: 4px;
  color: var(--accent-color);
  text-decoration: underline;
}
.modal-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-subscribe {
  margin-left: 93px;
}
.subscribe-text {
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.subscribe-field {
  display: flex;
  margin-top: 20px;
}
.subscribe-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;

  color: var(--primary-white-color);
  outline: none;

  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.subscribe-input::placeholder {
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
}
.subscribe-input:focus::placeholder {
  color: transparent;
}
.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent-color);
}

.subscribe-button {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.subscribe-icon {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
