:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --btn-portfolio-color: #f5f4fa;
  --footer-color: #2f303a;
  --adress-list-color: rgba(255, 255, 255, 0.6);
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-white-color);
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
header {
  border: 1px solid #ececec;
}
button {
  font-family: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

/* Header */
.logo {
  color: var(--primary-black-color);
  font-family: var(--secondary-font-family);

  font-size: 26px;
  line-height: 1.17;
  padding: 24px;
}
.logo .accent {
  color: var(--accent-color);
}
.logo.foot {
  color: var(--btn-portfolio-color);
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: 93px;
}
.site-nav {
  display: flex;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding: 32px 0;

  color: var(--primary-black-color);

  font-weight: 500;
  line-height: 1.17;
}
.contact-list .link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.17;
  padding: 32px 0;
}
.contact-list .item + .item {
  margin-left: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}
.site-nav .current,
.site-nav .link:hover,
.site-nav .link:focus,
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background-color: var(--footer-color);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero .button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero .bututton:hover,
.hero .bututton:focus {
  color: var(--accent-color);
}

/* Особливості */
.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
}
.feature-list .item:nth-child(4n) {
  margin-right: 0;
}

.feature-title {
  color: var(--primary-black-color);

  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.feature-description {
  color: var(--primary-text-color);
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
}

/* <!-- Чим ми займаємось --> */
/* <!-- Наша команда --> */
.section-title {
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}
.work-list .item {
  margin-right: 30px;
}
.work-list .item:nth-child(3n) {
  margin-right: 0;
}

.section-title.work {
  margin-bottom: 50px;
}

/* <!-- Наша команда --> */
.section.team {
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
}
.team-list img,
.portfolio-list img {
  display: block;
  width: 100%;
  height: auto;
}
.team-list .item {
  width: 270px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:nth-child(4n) {
  margin-right: 0;
}

.team-list .team {
  padding: 30px 32px;
}
.team-title {
  color: var(--primary-black-color);

  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
}

.team-description {
  color: var(--primary-text-color);

  white-space: nowrap;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
/* Footer */
.adress-list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}
.adress-list .link {
  color: var(--adress-list-color);
}
.adress-list .link-adress {
  color: var(--primary-white-color);
  text-decoration: none;
}

.adress-list .link:hover,
.adress-list .link:focus {
  color: var(--accent-color);
}
.adress-list .item {
  margin-bottom: 9px;
}

/* Porftolio page */
.portfolio-title {
  text-align: center;
}
.portfolio-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-filter .item {
  margin-right: 8px;
}
.portfolio-filter .item:nth-child(5n) {
  margin-right: 0;
}
.portfolio-filter .btn {
  color: var(--primary-black-color);
  background-color: var(--btn-portfolio-color);
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: 1px solid transparent;
}
.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}

/* .portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
} */
.portfolio-project {
  color: var(--primary-black-color);

  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio-description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}
.portfolio-list .content {
  padding: 20px 24px;
}
.black-foot {
  background-color: var(--footer-color);
  padding: 60px;
}
