:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --primary-black-color: #212121;
  --accent-color: #2196f3;
  --section-color: #f5f4fa;
  --btn-portfolio-color: #f5f4fa;
  --footer-color: #2f303a;
  --footer-address-list-color: rgba(255, 255, 255, 0.6);
  --icon-social-color: #afb1b8;
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
