.clients_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 30px;
}

.client-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  color: var(--icon-social-color);
  border: 1px solid var(--icon-social-color);
  transition-property: color, border;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
