.footer-section {
  background-color: var(--footer-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 76px;
    padding-right: 89px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0;
  }
}

.footer_wrap {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer_logo {
  color: var(--btn-portfolio-color);
  padding: 0;
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.footer_list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer_item {
  margin-bottom: 9px;
}
.address-link {
  color: var(--primary-white-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer_tel,
.footer_email {
  color: var(--footer_list-color);
  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);
  &:hover,
  &:focus,
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;

  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (max-width: 1199px) {
  .footer-form-submit {
    text-align: center;
    margin: 0 auto;
  }
}

.submit_field {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .submit_field {
    display: flex;
  }
}

.footer-input {
  width: 100%;
  min-width: 358px;

  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  margin: 0 auto;
  margin-bottom: 20px;

  color: var(--primary-white-color);
  outline: none;

  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-color);
  border-radius: 4px;

  transition-property: border-color;
  transition-duration: var(--time);
  transition-timing-function: var(--cubic);

  &::placeholder {
    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
  }

  &:focus::placeholder {
    color: transparent;
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.footer-submit-btn {
  position: relative;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}
.send-icon {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
