.section.no-padding {
  padding-top: 0;
  padding-bottom: 94px;
}
.occupation_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.occupation_list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  position: relative;
}

.occupation_wrap {
  position: relative;
}
.occupation_text {
  margin: 0 auto;
  padding: 27px;
  width: 100%;
  bottom: 0;
  right: 0;
  position: absolute;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  white-space: nowrap;
  color: var(--primary-white-color);
}
