.team-section {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--section-color);
}

.team_heading {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--primary-black-color);

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team_card {
  background-color: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-data {
  padding: 30px 32px;
}
.team_name {
  color: var(--primary-black-color);

  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}

.team_position {
  color: var(--primary-text-color);

  white-space: nowrap;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center;
}

@media screen and (min-width: 767.98px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team_card {
    width: 100%;
  }
  .team_card:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team_card {
    width: calc((100% - 90px) / 4);
    margin-right: 0px;
    gap: 30px;
  }
}
